<!DOCTYPE html>
<html>
	{{ partial "header.html" . }}
	<body>
		<div class="content">
			{{ partial "head.html" . }}
			
			<main class="list">
				<div class="site-description">
					<p>
						Staff Engineer <b class="color">@</b> <a href="https://www.stone.co">Stone.Co</a>,
						revolucionando o mercado de pagamentos, crédito e bancário no Brasil.
						Antes disso, Engineering Manager <b class="color">@</b> <a href="https://capitual.com" rel="norefer">Capitual</a>,
						gerenciando times em produtos que traziam o que há de melhor em moedas centralizadas e descentralizadas.
						<br>
						<strong>Brasileiro. Baiano. <a href="https://pt.wikipedia.org/wiki/Vaqueiro" referrerpolicy="no-referrer">Ex-vaqueiro</a></strong>.
						<br/>
						
						
					</p>
					<br/>
					
				</div>

				<a href="https://linkedin.com/in/euduardoborges"><i data-feather="linkedin"></i> linkedin</a>
				<span class="color">•</span>
				<a href="https://github.com/eduardoborges"><i data-feather="github"></i> github</a>

				<p>
					<b class="color">#/! </b>ouvindo <a href="" id="last-played">bip bop carregando...</a>
					<small> • rastreado por lastfm</small>
				</p>

				<h3>Postagens do blog</h3>
				{{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
				{{ $paginator := .Paginate (where $pages "Params.hidden" "ne" true) }}
				{{ range $paginator.Pages }}
				<li class="post">
					<a href="{{ .RelPermalink }}">{{.Title}}</a>
					<span class="meta">{{ dateFormat "Jan 2, 2006" .Date }}{{ if .Draft }}
					<span class="draft-label">RASCUNHO</span> {{ end }}</span>
				</li>
				{{ end }}
				{{ template "partials/paginator.html" . }}
			</main>
			{{ partial "footer.html" . }}
		</div>
		
	</body>
</html>
