<!DOCTYPE html>
<html>
	{{ partial "header.html" . }}
	<body>
		<div class="content">
			{{ partial "head.html" . }}
			
			<main class="list">
				<div class="site-description">
					<p>
						Head of Frontend Enginering @ <a href="https://stone.co">Stone.Co</a>.
						Previously @ <a href="https://capitual.com" rel="norefer">Capitual</a>, working on product development,
						technical leadership and management on the final customer teams services and apps.
						<strong>Brazilian. Latino. Community Lover. GDG Organizer.</strong>
						You can find me on <a href="https://linkedin.com/in/euduardoborges"><i data-feather="linkedin"></i> linkedin</a>, 
						and  <a href="https://github.com/eduardoborges"><i data-feather="github"></i> github</a>.
					</p>
				</div>

				<p>
					<i data-feather="music"></i> listen to <a href="" id="last-played">loading...</a>
					<small>by spotify</small>
				</p>


				{{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
				{{ $paginator := .Paginate (where $pages "Params.hidden" "ne" true) }}
				{{ range $paginator.Pages }}
				<section class="list-item">
					<h1 class="title"><a href="{{ .RelPermalink }}">{{.Title}}</a></h1>
					<time>{{ dateFormat "Jan 2, 2006" .Date }}{{ if .Draft }} <span class="draft-label">DRAFT</span> {{ end }}</time>
					<br><div class="description">
						{{ if isset .Params "description" }}
						{{ .Description }}
						{{ else }}
						{{ .Summary }}&hellip;
						{{ end }}
					</div>
					<br/>
				</section>
				{{ end }}
				{{ template "partials/paginator.html" . }}
			</main>
			{{ partial "footer.html" . }}
		</div>
		
	</body>
</html>
